p{
    font-family: "Arial","sans-serif";
}
#container{
    width: 1100px;
    margin-bottom: 2%;
    display: inline-flex;
}
#cloud{
    min-height:610px;
    text-align: center;
    margin:auto;
}
#wordCount{
    width: 200px;
    padding-bottom: 2%;
}
#table
{
    margin: 2%
}